/*==============tg.css================*/
@import url('base.css');
@charset "utf-8";
/* CSS Document for tuanche.com byzss */
.imgBox img{-webkit-transition:all 500ms;transition:all 500ms;width:100%;height:100%;}

.w{width:1200px;margin:0 auto;}
.w:after,.Tglist li:after,.agreeC:after,.proPoint:after,.sellbigPoint:after,.serverC:after,.serverC dl:after,.bgCinfo dl:after,.tgHot:after,.tgnumber li:after,.carHotInfo:after,.serverCinfo:after,.tzjsC dl:after,.tzjsC:after,.TgTab:after,.yzhzC:after,.yzhzC li:after{clear:both;display:block;visibility:hidden;height:0;line-height:0;content:'';}

.closePop{position:absolute;right:0;top:0;font-size:30px;display:inline-block;height:45px;width:45px;border-radius:0 10px 0 0;color:#b4b4b4;}
.closePop:link{color:#b4b4b4;}
.closePop:hover{text-decoration:none;background:red;color:#fff;}

.agreement_wrap{width:660px;border:1px solid silver;box-shadow:0 0 10px silver;position:fixed;_position:absolute;left:50%;margin-left:-330px;z-index:91;background:#fff;border-radius:10px;color:#616060}
.agreement_tit{height:45px;line-height:45px;text-align:center;font-size:14px;border-bottom:1px solid #ebebeb;position:relative}
.agreement_con{margin:35px 40px;overflow-y:scroll;font-size:12px;}

/*p-flot*/
.p-flot{width:1200px;height:51px;background:#ff3938;position:fixed;left:50%;margin-left:-600px;z-index:19;}
.pflotC{padding:0 40px;color:#fff;line-height:50px;font-size:16px;}
.pflotC dt{float:left;margin-right:70px;position:relative;}
.pflotC a,.pflotC a:link,.pflotC a:visited,.pflotC a:active{color:#fff;}
.pflotC a:hover{color:#fff;}
.pflotC dd a{padding:5px 10px;background:#fff;color:#ff3938;border-radius:5px;}
.pflotC dd a,.pflotC dd a:link,.pflotC dd a:visited,.pflotC dd a:active{color:#ff3938;}
.pflotC dd a:hover{color:#ff3938;}
.pflotC dd span{margin-left:25px;}
.pflotC dd span i{color:#ffea00;font-weight:bold;font-size:24px;}

.pflotC dt .TbarBarrow{background-position:0 -266px;top:44px;left:45%;}

/*pop-bar*/
.pop-bar{}
.P-Rbar{width:60px;height:390px;margin-left:610px;position:fixed;/*top:530px;*/top:120px;left:50%;z-index:89;}
.P-Rbar li.a,.P-Rbar li.b,.P-Rbar li.c,.P-Rbar li.d,.P-Rbar li.e,.P-Rbar li.f,.P-Rbar li.gotop{width:60px;height:20px;line-height:18px;padding-top:40px;margin-bottom:10px;background:#ff3938 url(../img/Rbar.png) no-repeat;color:#fff;font-size:12px;text-align:center;position:relative;}
.P-Rbar li:hover{background-color:#ea0605;}
.P-Rbar li.a{background-position:center 7px;position:relative;}
.P-Rbar li.b{background-position:center -96px;}
.P-Rbar li.c{background-position:center -189px;}
.P-Rbar li.d{background-position:center -276px;}
.P-Rbar li.e{background-position:center -385px;}
.P-Rbar li.f{background-position:center -665px;position:relative;}
.P-Rbar li.gotop{background-position:center -488px;width:60px;height:60px;padding:0;margin:0;background-color:#e4e4e4;position:relative;}
.P-Rbar li.gotop a{display:block;width:100%;height:100%;}
.P-Rbar li.gotop:hover{background-color:#c2c2c2;}
.P-Rbar li a,.P-Rbar li a:link,.P-Rbar li a:visited,.P-Rbar li a:active{color:#fff;}
.P-Rbar li a:hover{color:#fff;text-decoration:none;}
.P-Rbar li .buyfssel a:link,.P-Rbar li .buyfssel a:visited,.P-Rbar li .buyfssel a:active{color:#261d18;text-decoration:none;}
.P-Rbar li .buyfssel a.act,.P-Rbar li .buyfssel a:hover{color:#ff3938;text-decoration:none;border:solid 1px #ff3938;}

.P-Rbar .P-enrollC .sel-more{width:234px;}
.P-Rbar .P-enrollC .sel-more dt a.act{color:#ff3938;}
.P-Rbar .P-enrollC .sel-more dt a:link,.P-Rbar .P-enrollC .sel-more dt a:visited,.P-Rbar .P-enrollC .sel-more dt a:active{color:#261d18;text-decoration:none;}
.P-Rbar .P-enrollC .sel-more dt a:hover,.P-Rbar .P-enrollC .sel-more dt a.act{color:#ff3938;text-decoration:none;}
.P-Rbar .P-enrollC .sel-more dd{width:213px;}
.P-Rbar .P-enrollC .sel-more dd a:link,.P-Rbar .P-enrollC .sel-more dd a:visited,.P-Rbar .P-enrollC .sel-more dd a:active{color:#261d18;text-decoration:none;}
.P-Rbar .P-enrollC .sel-more dd a:hover,.P-Rbar .P-enrollC .sel-more dd a.act{color:#ff3938;text-decoration:none;}

.P-Rbar li .sel-more-default{width:91%;left:11px;border:solid 1px #ccc;}
.P-Rbar li .maskin{left:12px;width:82%;}
.P-Rbar li .sel-more-default li a,.P-Rbar li .sel-more-default li a:link,.P-Rbar li .sel-more-default li a:visited,.P-Rbar li .sel-more-default li a:active{background:#fff;color:#261d18;text-decoration:none;}
.P-Rbar li .sel-more-default li a:hover{background:#ff3938;color:#fff;text-decoration:none;}

.P-RbarGwC{position:absolute;top:0;left:-214px;}
.P-RbarGw{width:204px;height:250px;background:url(../img/P-RbarGw.jpg) no-repeat 0 0;background-color:#fff;box-shadow:0 0 50px rgba(44,4,4,.2);}
.P-RbarGw .imgBox{width:110px;height:110px;padding-top:125px;margin-left:50px;}
.P-RbarGw .imgBox img{width:100%;height:100%;}
.P-gwClose{position:absolute;top:-8px;right:-8px;}
.P-gwClose a{display:block;width:20px;height:20px;background:url(../img/Rbar.png) no-repeat 5px -771px;background-color:#ff3938;box-shadow:0 0 2px rgba(255,0,0,.35);border-radius:20px;}
.P-gwClose a,.P-gwClose a:link,.P-gwClose a:visited,.P-gwClose a:active{background-color:#ff3938;}
.P-gwClose a:hover{background-color:#f11918;transform:rotate(0deg) scale(1.2) translate(0, 0);box-shadow:0 0 20px rgba(255,255,255,.75);-webkit-transition:all 500ms;transition:all 500ms;}

.P-enroll{width:258px;height:;position:absolute;left:-260px;top:0;border:solid 1px #ff3938;background:#fff;}
.PClose{position:absolute;top:0px;left:-280px;}
.PClose a{display:block;width:20px;height:20px;background:url(../img/Rbar.png) no-repeat -1px -581px;background-color:#ff3938;}
.PClose a,.PClose a:link,.PClose a:visited,.PClose a:active{background-color:#ff3938;}
.PClose a:hover{background-color:#f11918;}

.P-enrollT{width:100%;height:35px;color:#ff3938;text-align:center;border-bottom:solid 2px #ff3938;font-size:14px;line-height:35px;font-weight:bold;}

.P-enrollC{width:258px;height:auto;margin:20px auto;}
.P-enrollC .inC{width:238px;margin-top:10px;position:relative;font-size:12px;padding:0 10px;}
.P-enrollC .inC input{width:216px;height:24px;line-height:24px;border:solid 1px #ccc;padding:2px 9px;font-size:12px;z-index:1;color:#666;}
.P-enrollC .inC input.error{color:#ff3938;border-color:#ff3938;}
.P-enrollC .inC em{display:block;width:14px;height:10px;background-position:0 -540px;position:absolute;top:10px;right:20px;cursor:pointer;}
.P-enrollC .sel-more{width:234px;/*height:160px;*/line-height:24px;border:solid 1px #ccc;padding:0;color:#666;border-top:none;background:#fff;position:absolute;top:30px;left:11px;overflow:auto;z-index:2;}
.P-enrollC .sel-more li{text-align:left;}
.P-enrollC .sel-more li span{padding-right:10px;}
.P-enrollC .sel-more li a{display:block;height:24px;line-height:24px;padding:2px 9px;}
.P-enrollC .sel-more li a:link,.P-enrollC li a:visited,.P-enrollC li a:active{background:#fff;color:#261d18;}
.P-enrollC .sel-more li a:hover{background:#ff3938;color:#fff;text-decoration:none;}

.P-enrollC button{width:236px;height:30px;line-height:30px;margin-top:20px;font-size:14px;background:#ff3938;color:#fff;}

.P-APP{width:132px;height:158px;border:solid 1px #ff3938;position:absolute;left:-134px;top:0;background:#fff url(../img/P-APP.png) no-repeat center 0;}
.P-APP span{margin-top:130px;font-size:14px;display:inline-block;color:#ff3938;}

/*pop*/
.pop{border:solid 1px #999;background:#fff;position:absolute;top:0;left:0;z-index:99;box-shadow:0px 0px 8px rgba(12,3,6,.5)}
.popC{position:relative;}
.P-close{position:absolute;top:-1px;right:-35px;}
.P-close a{display:block;width:33px;height:35px;background:url(../img/p-ico.png) no-repeat center -103px;background-color:#ff3938;}
.P-close a,.P-close a:link,.P-close a:visited,.P-close a:active{background-color:#ff3938;}
.P-close a:hover{background-color:#f11918;}

.PLogin{top:30%;left:39%;}
.P-loginC{width:420px;height:auto;padding:5px 0 15px;}
.P-loginTabT{width:100%;}
.P-loginTabT li{float:left;width:50%;height:62px;line-height:62px;text-align:center;font-weight:700;font-size:20px;}
.P-loginTabT li a{display:block;border-bottom:solid 3px #e5e5e5;}
.P-loginTabT li a,.P-loginTabT li a:link,.P-loginTabT li a:visited,.P-loginTabT li a:active{color:#e6e6e6;}
.P-loginTabT li a.act,.P-loginTabT li a:hover{color:#261d18;border-bottom:solid 3px #ff3938;}

.P-loginInfo{padding:0px 20px;}
.P-loginInfoC{}
.P-loginInfoC li{width:100%;margin-top:20px;}
.P-loginInfoC li input{width:356px;height:42px;line-height:42px;font-size:14px;border:solid 1px #ccc;color:#666;padding:1px 10px;border-radius:5px;}

.P-regetps{width:100%;font-size:14px;margin-top:10px;}
.P-regetps dd{float:left;width:75%;}
.P-regetps dt{float:right;width:25%;text-align:right;}
.P-regetps dt a,.P-regetps dt a:link,.P-regetps dt a:visited,.P-regetps dt a:active{color:#ff3938;text-decoration:none;}
.P-regetps dt a:hover{color:#ff3938;text-decoration:underline;}

.checkC{height:20px;line-height:20px;}
.checkC em{display:inline-block;width:16px;height:20px;background:url(../img/p-ico.png) no-repeat;background-position:0 1px;float:left;}
.checkC em.Pcheck{background-position:0 -48px;}
.checkC span{color:#261d18;font-size:14px;margin-left:5px;}

.P-btnC{width:100%;margin-top:17px;}
.P-btnsumbit{display:block;background:#ff3938;height:46px;line-height:46px;text-align:center;border-radius:5px;font-size:20px;font-weight:bold;}
.P-btnsumbit,.P-btnsumbit:link,.P-btnsumbit:visited,.P-btnsumbit:active{color:#fff;text-decoration:none;}
.P-btnsumbit:hover{color:#fff;text-decoration:none;background:#f11918;}
.P-btnC p{font-size:14px;margin-top:5px;}
.P-btnC p a,.P-btnC p a:link,.P-btnC p a:visited,.P-btnC p a:active{color:#ff3938;text-decoration:none;}
.P-btnC p a:hover{color:#ff3938;text-decoration:underline;}

.P-loginInfoC .input-w200{width:178px;float:left;}
.P-code{float:right;width:170px;}
.P-code dd{float:left;width:110px;height:44px;}
.P-code dt{text-align:center;}
.P-code dt a{display:inline-block;line-height:44px;font-size:12px;}
.P-code dt a,.P-code dt a:link,.P-code dt a:visited,.P-code dt a:active{color:#ff3938;text-decoration:underline;}
.P-code dt a:hover{color:#ff3938;text-decoration:none;}
.P-code dd.p-w170{background:#e5e5e5;width:170px;height:46px;line-height:46px;text-align:center;font-size:14px;border-radius:5px;}

.P-protocol dd{width:100%;}
.P-protocol dt a{display:inline-block;line-height:44px;font-size:12px;}
.P-protocol dd a,.P-protocol dd a:link,.P-protocol dd a:visited,.P-protocol dd a:active{color:#ff3938;text-decoration:none;}
.P-protocol dd a:hover{color:#ff3938;text-decoration:underline;}

/*crumb*/
.crumb{height:38px;line-height:38px;color:#5d5b5b;font-size:12px;font-weight:600;}
.crumb a,.crumb a:link,.crumb a:visited,.crumb a:active{color:#0871bb;text-decoration:none;}
.crumb a:hover{color:#0871bb;text-decoration:none;}

.tgT{width:100%;margin-top:20px;}
.tgT h2{width:100%;font-size:30px;font-weight:bold;color:#261d18;}
.tgT h2 span{color:#7a7a7a;}
.tgTLine{border-bottom:solid 1px #dcdcdc;width:890px;padding-bottom:5px;}
.tgTLine h2{font-size:24px;}

.TopinpL{float:left;width:698px;margin-top:30px;}
.TopinpR{float:right;width:430px;margin-top:30px;}

/*TopinpR*/
.TopinpRinfo li{color:#3e3e3e;font-size:14px;line-height:30px;position:relative;}
.TopinpRinfo i{color:#ff3938;margin-left:20px;font-size:12px;cursor:pointer;}

.ico-kdx{height:24px;border:solid 1px #ff3938;line-height:24px;width:305px;}
.ico-kdx a{cursor:pointer;}
.ico-kdx a,.ico-kdx a:link,.ico-kdx a:visited,.ico-kdx a:active{text-decoration:none;cursor:pointer;}
.ico-kdx a:hover{color:#ff3938;text-decoration:underline;cursor:pointer;}
.ico-kdx em{background:url(../img/tg/ico-kdx.png) no-repeat 0 0;display:inline-block;width:59px;height:24px;float:left;}
.ico-kdx i{padding-left:10px;margin-left:0;cursor:;display:inline-block;font-size:14px;}

.TopinpR .imgBox{width:412px;height:274px;overflow:hidden;margin:10px auto;}
.TopinpR .imgBox img{width:100%;height:100%;}

.TopinpR p.tips{color:#b0b0b0;font-size:12px;}

.shareother{margin-top:10px;color:#a0a0a0;font-size:14px;}

/*TopinpLTips*/
.TopinpLTips{width:658px;background:#f7f7f7;font-size:16px;padding:19px 20px;}
.TopinpLTips i{color:#f00;font-weight:bold;}
.TopinpLTips dd{color:#575757;}
.TopinpLTips dd span{font-size:24px;}
.TopinpLTips dd span.for{font-size:24px;font-weight:bold;}
.TopinpLTips dd samp{padding-left:45px;}
.TopinpLTips dt{display:block;margin-top:20px;line-height:24px;}
.TopinpLTips dt span{float:left;}
.TopinpLTips dt em{display:inline-block;padding:12px 31px;background:url(../img/tg/ico-ToTips.png) no-repeat;}

/*Tglist*/
.Tglist{width:100%;padding-top:10px;}
.Tglist li{margin-top:20px;+width:100%;}
.Tglist span.t{float:left;width:110px;height:30px;line-height:30px;color:#707070;font-size:14px;}
.TglistC{width:;float:left;width:588px;}

.TgTab{margin-top:10px;float:left;width:100%;+height:44px;}
.TgTab span{position:relative;display:inline-block;}
.TgTab span em{display:none;}
.TgTab span.act em,.TgTab span:hover em{display:block;width:12px;height:8px;background:url(../img/tg/ico.png) no-repeat 0 -194px;position:absolute;top:30px;_top:26px;left:47%;}
.TgTab span a{display:inline-block;font-size:14px;width:146px;line-height:30px;text-align:center;}
.TgTab span a,.TgTab span a:link,.TgTab span a:visited,.TgTab span a:active{background:#f7f7f7;color:#000;}
.TgTab span.act a,.TgTab span a:hover{background:#ff5353;color:#fff;}

.TgTabinfo{}
.TgTabinfo span{border:solid 1px #d4d4d4;display:inline-block;word-break:keep-all;white-space:nowrap;position:relative;margin-right:10px;margin-bottom:10px;float:left;}
.TgTabinfo span:hover,.TgTabinfo span.act{border:solid 1px #ff5353;}
.TgTabinfo span em{display:block;width:14px;height:14px;background:url(../img/tg/ico.png) no-repeat 0 -66px;position:absolute;bottom:0;right:0;}
.TgTabinfo span.act em,.TgTabinfo span:hover em{background-position:0 -32px;}
.TgTabinfo span a{display:inline-block;font-size:14px;padding:6px 26px;}
.TgTabinfo span a,.TgTabinfo span a:link,.TgTabinfo span a:visited,.TgTabinfo span a:active{color:#707070;}
.TgTabinfo span.act a,.TgTabinfo span a:hover{color:#ff5353;}

.borderTop{border-top:dashed 1px #dedede;margin-top:10px;+float:left;}
.borderTop span a{padding:0;width:76px;height:26px;line-height:26px;text-align:center;color:#707070;}

li.TgbtnC{padding-left:110px;margin-top:10px;}
.Tgbtn{width:100%;}
.Tgbtn button{width:360px;height:46px;line-height:46px;font-size:22px;background:#ff3938;color:#fff;}
.agreeC{width:;color:#707070;font-size:14px;line-height:30px;}
.agreeC em{display:inline-block;padding:7px;float:left;background:url(../img/tg/ico.png) no-repeat 0 -107px;margin-top:8px;margin-right:5px;cursor:pointer;}
.agreeC em.act{background-position:0 -148px;}
.agreeC span{float:left;}
.agreeC span a{padding-top:2px;line-height:30px;}

.TglistC .inC{width:100%;float:left;}
.TglistC .inC input{float:left;}
.TglistC .sel{width:155px;}
.TglistC .sel em{}
.TglistC .TgTabinfo{float:left;width:100%;}
.TglistC .agreeC{float:left;}

.psCode .TglistC .inC input{width:90px;}
.psCode img{width:80px;height:28px;padding-left:10px;margin-top:1px;display:block;}
.psCode .codeC{width:80px;height:28px;margin-left:10px;margin-top:1px;}

.help-inline{float:left;color:#f00;font-size:12px;margin-left:20px;line-height:30px;position:initial;}
.noMLeft{margin-left:0;}

/*proPoint*/
.proPoint{margin-top:50px;background:#f7f7f7;}
.proPoint dd{width:132px;height:80px;background:url(../img/tg/ico-pro.png) no-repeat;padding-left:65px;padding-top:20px;float:left;}
.proPoint dt{width:60px;height:100px;background:url(../img/tg/ico-pro.png) no-repeat center -585px;float:left;display:block;}
.proPoint dd.proPT{width:148px;height:100px;background:#ff3938;padding:0;font-size:20px;line-height:100px;color:#fff;font-weight:bold;text-align:center;}
.proPoint dd.ico-pro01{background-position:0 24px;margin-left:60px;}
.proPoint dd.ico-pro02{background-position:0 -132px;}
.proPoint dd.ico-pro03{background-position:0 -279px;}
.proPoint dd.ico-pro04{background-position:0 -424px;}
.proPoint p{font-size:18px;font-weight:bold;margin:5px 0;color:#261d18;line-height:30px;}
.proPoint span{font-size:12px;color:#7a7a7a;}

/********tgL********/
.tgL{width:890px;float:left;margin-top:30px;}

.tgLC{border:solid 1px #e8e8e8;border-top:solid 2px #261d18;+position:relative;}
.tgLCT{width:100%;height:49px;border-bottom:solid 1px #e8e8e8;margin-top:-2px;+position:absolute;+top:0px;}
.tgLCT span{border-top:solid 2px #261d18;color:#000;font-size:16px;line-height:46px;display:inline-block;}
.tgLCT span i{color:#ff3938;font-size:14px;font-weight:bold;margin-left:5px;}
.tgLCT span a{display:block;padding:0px 20px;}
.tgLCT span a:link,.tgLCT span a:visited,.tgLCT span a:active{background:#fff;color:#000;}
.tgLCT span a.act,.tgLCT span a:hover{background:#f8f8f8;color:#000;}

/*serverC*/
.serverC{width:870px;padding:10px;border-bottom:solid 1px #e8e8e8;}
.serverCinfo{padding:20px 25px;width:820px;overflow:hidden;}
.serverCinfo dl{width:103%;}
.serverCinfo dt{padding-left:300px;padding-top:20px;height:160px;display:block;background:url(../img/tg/point.png) no-repeat 140px 10px;}
.serverCinfo dt span{display:block;line-height:34px;color:#000;font-size:14px;font-weight:600;}
.serverCinfo dd{width:252px;height:114px;margin:0 24px 30px 1px;float:left;text-align:center;border:solid 1px #dedede;border-radius:8px;}
.serverCinfo dd em{display:block;width:36px;height:36px;background:url(../img/tg/ico-pointsmall.png) no-repeat;float:left;margin:8px 15px 0 20px;}
.serverCinfo dd.ico-point01 em{background-position:center 0;}
.serverCinfo dd.ico-point02 em{background-position:center -91px;}
.serverCinfo dd.ico-point03 em{background-position:center -193px;}
.serverCinfo dd.ico-point04 em{background-position:center -286px;}
.serverCinfo dd.ico-point05 em{background-position:center -382px;}
.serverCinfo dd.ico-point06 em{background-position:center -480px;}
.serverCinfo dd p{font-size:16px;font-weight:bold;height:50px;width:100%;background:#f7f7f7;line-height:50px;border-top-left-radius:8px;border-top-right-radius:8px;}
.serverCinfo dd samp{float:left;}
.serverCinfo dd span{font-size:12px;display:block;text-align:left;width:238px;height:48px;line-height:24px;padding:8px;color:#999;}

/*why*/
.why{padding:20px 25px;width:820px;overflow:hidden;}
.whyT{border-top:solid 1px #dedede;height:0px;position:relative;}
.whyT h5{position:absolute;left:0;top:-15px;text-align:center;width:100%;height:30px;font-size:20px;color:#ff3838;font-weight:bold;}
.whyT h5 i{background:#fff;padding:5px 10px}
.whyInfo{margin-top:30px;}
.whyInfo dd{width:250px;height:50px;padding:15px 0 20px 70px;background:url(../img/tg/ico-why.png) no-repeat;float:left;margin:20px 15px 0 60px;}
.whyInfo dd.ico-why01{background-position:0 10px;border-bottom:dashed 1px #dbdbdb;}
.whyInfo dd.ico-why02{background-position:0 -139px;border-bottom:dashed 1px #dbdbdb;}
.whyInfo dd.ico-why03{background-position:0 -297px;}
.whyInfo dd.ico-why04{background-position:0 -437px;}
.whyInfo p{font-size:16px;font-weight:bold;color:#261d18;line-height:26px;}
.whyInfo span{font-size:12px;color:#7a7a7a;}

/*tzjsC*/
.tzjsC{width:100%;}
.tzjsC dl{margin-top:10px;width:100%;}
.tzjsC dl dd,.tzjsC dl dt{float:left;}
.tzjsC dl dd{width:279px;position:relative;border-right:solid 1px #dcdcdc;}
.tzjsC .imgBox{width:142px;height:239px;float:left;}
.tzjsC .imgBox img{width:100%;height:100%;}

.tzjsCjj{margin:40px 0 0 20px;float:left;}
.tzjsCjj h4{width:;border-bottom:solid 1px #dcdcdc;display:inline-block;color:#575757;font-size:30px;line-height:30px;padding:10px 0px;}
.tzjsCjj span{margin-top:10px;font-size:14px;line-height:20px;}
.tzjsCjj span,.tzjsCjj i{display:block;}
.tzjsCjj i{color:#ff3938;font-weight:bold;font-size:20px;}


.tzjsC dl dt{width:570px;margin-left:10px;color:#575757;line-height:24px;padding:10px 0 20px 30px;}
.tzjsC dl dt span{font-size:14px;margin-top:15px;display:block;}
.tzjsC dl dt span i{font-weight:bold;font-size:16px;display:block;}

/*bgCinfo*/
.bgCinfo{width:750px;padding:0 60px 70px;margin:0 auto;}
.bgCinfo dl{margin-top:60px;width:100%;}
.bgCinfo dl dt,.bgCinfo dl dd{float:left;}
.bgCinfo dl dt{width:410px;height:270px;background:url(../img/tg/bg.png) no-repeat 0 0;}
.bgCinfo dl.ico-bg01 dt{background-position:20px 0;}
.bgCinfo dl.ico-bg02 dt{background-position:80px -346px;}
.bgCinfo dl.ico-bg03 dt{background-position:20px -720px;}
.bgCinfo dl dd{line-height:30px;font-size:16px;width:340px;padding-top:60px;}
.bgCinfo dl.ico-bg02 dd{padding-top:90px;}
.bgCinfo dl.ico-bg03 dd{padding-top:110px;}
.bgCinfo dl dd p{font-size:22px;color:#ff3838;font-weight:bold;height:40px;line-height:40px;}
.bgCinfo dl dd span{display:block;color:#7a7a7a;}

/*starC*/
.starC{width:;padding:17px 0 0;margin:0 auto;}
.starC p{float:left;width:100px;margin-right:10px;}
.starC p em{background:url(../img/ico1.png) no-repeat;}
.starC p em{display:block;width:18px;height:18px;background-position:0 -634px;float:left;margin-right:1px;}
.starC p em.act{background-position:0 -602px;}
.starC p em.acthalf{background-position:0 -706px;}
.starC span{font-size:12px;}

/*yzhzC*/
.yzhzC{width:890px;}
.yzhzC ul{padding-top:10px;}
.yzhzC li{width:888px;height:auto;border:solid 1px #dedede;margin-top:20px;}
.yzhzC li .imgBox{width:250px;height:166px;float:left;border-right:solid 1px #dedede;}

.yzhzInfo{background:#f7f7f7;float:left;height:166px;width:637px;}
.yzhzInfoTC{height:50px;line-height:50px;width:100%;background:#dedede;}
.yzhzInfoT{color:#000;font-size:16px;padding-right:10px;padding-left:15px;}
.yzhzInfoT i{font-size:18px;font-weight:500;}
.addyzhz{width:94%;color:#333;font-size:14px;text-align:left;float:left;height:50px;padding:20px 20px 0;}

.yzhzInfo .ico-kdx{height:26px;line-height:26px;margin-left:20px;width:auto;}
.yzhzInfo .ico-kdx i{color:#ff3938;padding-right:3px;/*width:234px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;*/}
.yzhzInfo .ico-kdx em{background:url(../img/tg/ico-sq.png) no-repeat 0 0;height:26px;}

.w-ad01{width:1200px;height:120px;margin:5px auto 0;}

/*tgLT*/
.tgLT{height:30px;border-bottom:solid 2px #000;width:100%;line-height:30px;font-size:16px;margin-top:20px;}

.tgNotice{width:100%;}
.tgNotice ul{margin-top:20px;margin-left:20px;}
.tgNotice li{list-style-image:url(../img/tg/ico-list.png);list-style-type:none;list-style-position:outside;line-height:24px;margin-top:5px;font-size:14px;}

/*typj*/
.typj{width:100%;margin:20px auto 0;}

/*featureC*/
.featureC{width:100%;margin:0 auto;overflow:hidden;}
.featureC dl{width:120%;}
.featureC dl dd{width:284px;height:218px;float:left;margin-right:18px;margin-top:10px;}
.featureC dl dd .imgBox{width:284px;height:170px;overflow:hidden;}
.featureC dl dd .imgBox img{width:100%;height:100%;}
.featureC dl dd p{width:100%;height:24px;font-size:14px;color:#000;line-height:24px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.featureC dl dd .time{font-size:12px;color:#939292;line-height:24px;}
.featureC dl dd .time span{float:left;}
.featureC dl dd .time samp{float:right;}

.mtnone{margin-top:0;}

/*tgR*/
.tgR{width:290px;float:right;margin-top:30px;}
.tgRBox{border:solid 1px #e8e8e8;border-top:solid 2px #261d18;}
.tgRT{width:258px;padding:0 15px;background:#f8f8f8;border-bottom:solid 1px #e8e8e8;height:49px;line-height:48px;font-size:16px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.mt20{margin-top:20px;}

/*tgHot*/
.tgHot{width:100%;padding:10px 0 20px;}
.tgHot li{float:left;width:130px;height:36px;margin-left:10px;margin-top:10px;text-align:center;line-height:36px;font-size:16px;}
.tgHot li a{color:#261d18;display:block;}
.hotbg01 a{background:#ffcdcc;}
.hotbg01 a:hover{background:#ffbfbe;}
.hotbg02 a{background:#cdcdff;}
.hotbg02 a:hover{background:#bebeff;}
.hotbg03 a{background:#fff4b4;}
.hotbg03 a:hover{background:#fff1a4;}
.hotbg04 a{background:#ffc9ed;}
.hotbg04 a:hover{background:#ffbae8;}
.hotbg05 a{background:#cce0ff;}
.hotbg05 a:hover{background:#bbd6ff;}
.hotbg06 a{background:#ffdab4;}
.hotbg06 a:hover{background:#ffd2a3;}
.hotbg07 a{background:#cefedb;}
.hotbg07 a:hover{background:#b9ffcc;}
.hotbg08 a{background:#cce6ff;}
.hotbg08 a:hover{background:#b8ddff;}

/*tzgw*/
.tzgw{border-radius:8px;border-top:solid 1px #e8e8e8;}
.tzPhoto{height:90px;border-bottom:solid 1px #e8e8e8;border-top-left-radius:8px;border-top-right-radius:8px;background:#f7f7f7;padding:10px 15px;}

.tzPhotoBox{width:84px;height:84px;border-radius:84px;border:solid 3px #fff;overflow:hidden;float:left;}
.tzPhotoBox img{width:100%;height:;border-radius:84px;}
.tzPhotoInfo{margin-left:20px;margin-top:20px;float:left;color:#303030;line-height:30px;}
.tzPhotoInfo h4{font-size:18px}
.tzPhotoInfo span{font-size:14px;}

.tz-wx{margin:26px auto 0;overflow:hidden;width:150px;height:150px;}
.tz-wx img{width:100%;height:;}

.tzgw p{margin:18px 12px;font-size:14px;color:#666;line-height:20px;}
.tzgw p i{font-weight:bold;color:#ff3938;float:left;display:inline-block;width:10px;height:10px;margin-top:3px;}

/*tgnumber*/
.tgnumber{width:268px;padding:10px 10px 0;height:359px;overflow:hidden;}
.tgnumber li{border-bottom:solid 1px #f2f2f2;height:39px;line-height:38px;font-size:14px;color:#000;}
.tgnumber li span{float:left;}
.tgnumber li samp{float:right;}

/*tgcarHot*/
.tgcarHot{padding:10px 0;width:288px;margin-top:-11px;}
.tgcarHot li{border-top:solid 1px #e2e2e2;padding:20px 10px;}
.tgcarHot .imgBox{width:268px;height:170px;}
.tgcarHot .imgBox img{width:100%;height:100%;}
.tgcarHot p{width:100%;height:30px;line-height:30px;font-size:14px;color:#000;font-weight:bold;}
.carHotInfo{}
.carHotInfo span{float:left;font-size:14px;}
.carHotInfo span i{font-weight:bold;font-size:16px;color:#ff3938;}
.carHotInfo a.btn-go{float:right;font-weight:bold;background:#ff3938;font-size:14px;color:#fff;padding:3px 8px}
.carHotInfo a.btn-go:hover{text-decoration:underline;color:#fff;}

.zxRad01{width:291px;height:80px;margin-top:20px;}
.zxRad01 img{width:100%;height:100%;}
.broR{width:289px;height:;border-top:none;padding:10px 0 20px;border:solid 1px #e5e5e5;}

.tgR .RreC{width:270px;margin:0 auto;}
.tgR .inC{width:270px;margin-top:10px;}
.tgR .sel .sel-more{width:266px;top:35px;}
.tgR .sel .sel-more dd{float:right;width:245px;}
.tgR .inC em{top:14px;}
.tgR .inC input{width:248px;height:30px;line-height:30px;}
.tgR .inC input.error{color:#ff3938;border-color:#ff3938;}
.tgR .inC .maskin{height:34px;line-height:34px;width:90%;}
.tgR .RreC button{height:40px;line-height:40px;margin-top:20px;}
.tgR .RreC input.inp-btn{height:40px;line-height:40px;margin-top:20px;width:100%;font-size:14px;background:#ff3938;color:#fff;cursor:pointer;border-radius:5px;}

.tgR .RreC .TcityC{left:inherit;right:0;top:35px;}
.tgR .sel-more-default{width:266px;border:solid 1px #d5d5d5;top:35px;}

.tgR .RreC .buyfssel a{padding:2px 11px;margin-left:12px;}

/*sellbigPoint*/
.sellbigPoint{margin-top:50px;}
.sellbigPoint li{width:150px;height:;margin-right:40px;float:left;text-align:center;}
.sellbigPoint li em{display:block;width:60px;height:60px;background:url(../img/tg/ico-pointbig.png) no-repeat;margin:0 auto 15px;}
.sellbigPoint li.ico-point01 em{background-position:0 0;}
.sellbigPoint li.ico-point02 em{background-position:0 -88px;}
.sellbigPoint li.ico-point03 em{background-position:0 -176px;}
.sellbigPoint li.ico-point04 em{background-position:0 -264px;}
.sellbigPoint li.ico-point05 em{background-position:0 -352px;}
.sellbigPoint li.ico-point06 em{background-position:0 -440px;}
.sellbigPoint p{font-size:16px;font-weight:bold;margin:2px 0;}
.sellbigPoint span{font-size:12px;}

/*linkcar*/
.linkcar{border-top:solid 1px #e8e8e8;margin-top:40px;}
.linkcarT{width:100%;height:22px;margin-top:20px;line-height:22px;}
.linkcarT h3{font-size:14px;font-weight:bold;float:left;width:80%;}
.linkcarT span{float:right;width:20%;font-size:12px;text-align:right;}
.linkcarT a,.linkcarT a:link,.linkcarT a:visited,.linkcarT a:active{color:#261d18;text-decoration:none;}
.linkcarT a:hover{color:#ff3938;text-decoration:underline;}
.linkcarInfo{font-size:12px;padding-top:5px;}
.linkcarInfo span{margin-right:20px;margin-top:5px;display:inline-block;}
.linkcarInfo span a,.linkcarInfo span a:link,.linkcarInfo span a:visited,.linkcarInfo span a:active{color:#999;text-decoration:none;}
.linkcarInfo span a:hover{color:#ff3938;text-decoration:underline;}

/*friendly*/
.friendly{margin-top:2px;}
.friendlyT{width:100%;height:22px;margin-top:20px;line-height:22px;border-bottom:solid 1px #e8e8e8;position:relative;padding-bottom:5px;}
.friendlyT p{font-size:14px;font-weight:bold;float:left;width:70px;}
.friendlyT a,.friendlyT a:link,.friendlyT a:visited,.friendlyT a:active{color:#261d18;text-decoration:none;}
.friendlyT a:hover{color:#ff3938;text-decoration:underline;}
.friendlyT em{display:block;width:10px;height:10px;background-position:0 -562px;position:absolute;bottom:-5px;left:23px;}

.friendlyInfo{font-size:12px;padding-top:5px;}
.friendlyInfo span{margin-right:5px;margin-top:5px;display:inline-block;color:#999;}
.friendlyInfo span a,.friendlyInfo span a:link,.friendlyInfo span a:visited,.friendlyInfo span a:active{color:#999;text-decoration:none;}
.friendlyInfo span a:hover{color:#ff3938;text-decoration:underline;}

/*foot*/
.foot{background:#261d18;padding:30px 0;margin-top:20px;color:#fff;font-size:12px;position:relative;}
.CRinfoL{float:left;width:600px;}
.CRinfoL dl{float:left;color:#fff;width:120px;}
.CRinfoL dt{display:block;font-size:18px;line-height:34px;}
.CRinfoL dd{font-size:12px;line-height:28px;}
.CRinfoL a,.CRinfoL a:link,.CRinfoL a:visited,.CRinfoL a:active{color:#fff;text-decoration:none;}
.CRinfoL a:hover{color:#fff;text-decoration:underline;}

.CRinfoR{width:539px;border-left:dashed 1px #3c3430;float:right;padding-left:60px;}
.CRinfoRinfo{width:190px;height:auto;float:left;}
.CRinfoRinfo p{font-size:24px;}
.CRinfoRinfo span{display:block;font-size:14px;margin-top:3px;}
.CRinfoRinfo samp{display:block;}
.CRinfoRinfo samp a{display:block;background:#ff3938;color:#fff;border-radius:5px;width:190px;height:40px;line-height:40px;text-align:center;font-size:18px;margin-top:30px;}

.CRweixin{width:300px;float:right;}
.CRweixin p{float:left;margin-right:20px;}

.copyright{width:100%;font-size:12px;color:#fff;text-align:center;line-height:20px;float:left;margin-top:5px;}
.copyright a{color:#fff}
.copyright a:hover{color:#ff3938}

.interior_link{text-align:center}
.interior_link a{color:#fff}
.interior_link a:hover{color:#ff3938}

.foot .icon{position:absolute;top:0;left:50%;_left:0;margin-left:-16px;display:inline-block;width:32px;height:15px;background:url(../img/tg/icon.png) no-repeat -183px 0;}

/*typj*/
.typj{font-size:12px;}

.kaituanresult-wrap{background:#fff;display:;position:absolute;left:66px;top:30px;width:210px;padding:10px 15px;border:1px solid #d5d5d5;font-size:12px;color:#ff3938;line-height:20px;z-index:3;}
.kaituanresult-wrap em{position:absolute;top:-7px;left:50%;width:14px;height:7px;background:url(../img/tg/icon-index.png) no-repeat -184px -264px;margin-left:-7px}

.f20{font-size:20px;}
.up{display:inline-block;font-size:30px;position:absolute;left:53px;top:17px}
.up em{position:absolute;height:10px}
.up .up-bg{color:#dcdcdc}
.up .up-cxt{color:#fff;top:1px}
.menu-common{position:relative;}
.menu-common dl{line-height:40px}
.menu-common .title dd{width:14.2856%;text-align:center;font-size:14px;font-weight:600}
.bottom-border{border-bottom:1px solid #dcdcdc}

.b_myd{background:#fff;padding:20px;height:115px;}
.b_myd .col1,.b_myd .col2,.b_myd .col3{float:left;display:block;border-right:1px dashed #eee;margin-right:7px}
.b_myd .col1{padding:0 30px 0 10px}
.b_myd .col2{width:500px;height:118px;padding-left:10px}
.b_myd .col3{border-right:0;padding:30px 0 0 30px;*width:110px}
.b_myd .col3 .goComment{display:inline-block;border:1px solid #dcdcdc;border-radius:3px;padding:2px 5px;margin:5px}
.b_myd .p_tit{line-height:20px;margin-bottom:10px}
.b_myd .p1,.b_myd .p2{text-align:center}
.b_myd .p2{color:#8c8c8c;margin-bottom:10px}
.b_myd .hl{font-size:40px;font-weight:700;color:#ff3301}
.b_myd .hl_s{color:#fe7201}
.b_myd .list{height:25px;_width:235px;padding:10px 0 0;line-height:25px;font-size:12px}
.b_myd .list .score{color:#aaa}
.b_myd .m_star_bg{margin:5px 7px 0 5px;vertical-align:middle}
.score{margin-right:10px;color:#a3a3a3}
.score_progress{display:inline-block;width:130px;background-color:#dcdcdc;height:6px;margin:0 10px;position:relative;}
.score_em{display:inline-block;background-color:#ff3938;height:6px;font-size:0;position:absolute;top:0;left:0;}
.score_add{float:left;padding-top:12px;margin-left:15px;width:250px;font-size:12px;}

.b_pj_list .pj_hd{height:50px;line-height:50px;background:#fff;padding:0 15px;border-bottom:1px solid #dcdcdc;border-top:1px solid #dcdcdc;font-size:14px;}
.b_pj_list .pj_hd .rt{float:right;display:block}
.b_pj_list .pj_hd .lab{_display:inline-block;_padding:18px 0;margin-left:10px;font-weight:500;position:relative;display:inline-block}
.b_pj_list .pj_hd .checkLab{position:absolute;top:18px;left:0;display:inline-block;width:14px;height:14px;background:url(../img/tg/icon-index.png) no-repeat -152px -264px;vertical-align:-2px;*vertical-align:2px;_vertical-align:-2px;margin-right:5px}
.b_pj_list .pj_hd .checkLab-cur{background-position:-152px -240px}
.b_pj_list .pj_hd .inp_chk{position:relative;z-index:3;opacity:0;filter:alpha(opacity=0);width:13px;height:13px;padding:0;margin:-2px 5px 0 0;display:inline-block;vertical-align:middle;margin-top:-3px\0;*margin-top:-2px}
.b_pj_list .ul_tab li{float:left;display:inline-block;height:50px}
.b_pj_list .ul_tab li a,.b_pj_list .ul_tab li a:hover{color:#333;display:inline-block;height:48px;line-height:48px;padding:0;margin:0 18px;text-decoration:none;font-weight:600}
.b_pj_list .ul_tab li a:hover,.b_pj_list .ul_tab li.cur a{color:#ff3938;border-bottom:3px solid #ff3938;font-weight:700}
.ul_pj_list{border-bottom:;}
.ul_pj_list li{padding:20px;border-bottom:1px dotted #e6e6e6;background:#fff;position:relative}
.ul_pj_list li .m_star_bg{vertical-align:middle;height:16px}
.ul_pj_list .e_psn{float:left;display:block;width:60px}
.ul_pj_list .e_psn .m_pic{width:55px;height:55px;margin-bottom:5px}
.ul_pj_list .e_psn .m_pic img{width:60px;height:60px;border-radius:30px}
.ul_pj_list .e_psn .m_name{text-align:center;line-height:20px;color:#666}
.ul_pj_list .e_ifo{margin-left:80px;zoom:1;height:60px}
.ul_pj_list .e_ifo .o1 .star-time{height:20px;overflow:hidden;margin-top:5px}
.ul_pj_list .e_ifo .o1 .rt{color:#aaa;height:16px;line-height:16px;display:none;}
.ul_pj_list .e_ifo .m_sign_1,.ul_pj_list .e_ifo .m_sign_2{display:inline-block;background:#ff8483;height:20px;line-height:20px;color:#fff;padding:0 5px;font-size:12px}
.ul_pj_list .e_ifo .m_sign_1{margin-left:10px}
.ul_pj_list .o2{line-height:22px;margin:8px 0;color:#555}
.ul_pj_list .o2 .f_hl{color:#fe7a16}
.ul_pj_list .o3{line-height:20px;margin-bottom:5px}
.ul_pj_list .o4{margin-left:-25px;position:relative;zoom:1}
.ul_pj_list .o4 .img_car{margin:10px 0 10px 25px;width:120px;height:80px;overflow:hidden;float:left;display:block}
.ul_pj_list .o5{font-size:12px;color:#d06827;line-height:22px;margin:10px 0 0}
.b_getmore{text-align:center;background:#e6e6e6;line-height:30px;}
.b_getmore a{display:block;background:#ededed;}
.b_getmore #evaMore{display:block;padding:10px 0}
.b_getmore #evaMore:hover{text-decoration:none}
/*.b_getmore .ico_mr{padding-right:20px;font-weight:400;font-size:14px;position:relative}
.b_getmore .ico_mr i{display:block;width:20px;height:20px;background:url(../img/tg/icon.png) no-repeat scroll -303px -536px;position:absolute;top:0;right:0;*top:10px;_display:none}*/
.m_star_bg,.m_star_bg em{float:left;width:95px;height:14px;overflow:hidden;display:inline-block;background:url(../img/tg/star_c.png) repeat-x 0 -19px}
.m_star_bg em{background-position:0 0}
.m_star_bg em.v0{width:0}
.m_star_bg em.v1{width:19px}
.m_star_bg em.v2{width:38px}
.m_star_bg em.v3{width:57px}
.m_star_bg em.v4{width:76px}
.m_star_bg em.v5{width:95px}

/*older head*/
.mc{margin:0 auto}
.mart10{margin-top:10px}
.mart20{margin-top:20px}
.bolder{font-weight:700}
.f12{font-size:12px}
.f14{font-size:14px}
.f16{font-size:16px}
.f18{font-size:18px}
.f20{font-size:20px}
.f30{font-size:30px}
.f35{font-size:35px}
.f50{font-size:50px}
.red{color:red}
.gray{color:#abaaaa}
.wrap1200{width:1200px}
.icon{background:url(../img/tg/icon.png) no-repeat}
.mainbody{width:1200px}
.mainleft{float:left;display:inline;width:886px}
.mainright{float:right;display:inline;width:295px}
.header-top{height:35px;line-height:35px;background:#ff3938;position:relative;z-index:12;font-size: 12px;}
.login-link,.login-link a,.logined,.logined a{display:inline-block;color:#fff;font-weight:700}
.login-link a{padding-top:1px}
.login-link a.cur{padding-top:0;border-top:1px solid #fff;text-decoration:none}
.header-top-tip{padding:0 20px;background:#e53333;color:#fff;font-weight:700}
.tapicon ul li.tapiconli{position:relative;float:left;display:inline-block;width:18px;height:25px;background:url(../img/tg/icon_new.png);margin-left:20px;margin-right:10px;cursor:pointer;text-align:center;margin-top:9px}
.header-top-tel{width:164px;height:35px;background:url(../img/tg/tell.png) no-repeat;text-indent:-99999px}
.tap-jiao{width:8px;height:4px;position:absolute;top:-4px;background:url(../img/tg/icon.png) -281px 0;left:50%;margin-left:-4px}
.tapicon-pop{display:none;background:#fff;position:absolute;top:25px;left:83%;border:1px solid #ff3938;z-index:12}
.tapicon ul li.tapicon-person{background-position:0 -1px}
.tapicon-person-pop{margin-left:-79px}
.tapicon-person-pop ul li{margin-left:0;background:0 0;width:142px;border-bottom:1px solid #ececec}
.tapicon-person-pop ul li a{display:block;padding:0 10px}
.tapicon-person-pop ul li a:hover{background:#f4f4f4;text-decoration:none}
.tapicon ul li.tapicon-mail{background-position:-54px -1px}
.tapicon-mail-pop{width:250px;margin-left:-131px}
.tapicon-mail-pop ul li{border-bottom:1px solid #ececec}
.tapicon-mail-pop ul li a{display:block}
.tapicon-mail-pop-img{width:100px}
.tapicon-mail-pop-img img{width:90%;height:70px;padding:5%}
.tapicon-mail-pop-info{width:150px;padding:10px 0}
.tapicon-mail-pop-info p{margin:0;line-height:20px}
.tapicon-mail-pop-btn{display:block;background:#ff3938;margin:10px;text-align:center;color:#fff}
.tapicon-mail-pop-btn:hover{color:#fff}
.tapicon ul li.tapicon-qi{background-position:-107px -1px}
.tapicon ul li.tapicon-xin{background-position:-163px -1px}
.tapicon-xin-pop{width:122px;height:30px;padding:135px 0 0 144px;background:url(../img/tg/headerwei.png) no-repeat 0 0 #fff;margin-left:-139px}
.yiyi-tit{height:30px;line-height:30px;text-align:center;background:#f4f4f4;border-bottom:1px solid #ececec}
.yiyi-tit-con{text-align:center;padding-top:10px}
.tapicon ul li.tapicon-baozhang{margin-right:30px;background-position:-217px -1px}
.tapicon-baozhang-pop{width:120px;height:160px;margin-left:-68px;background:#fff}
.activehovernum{color:#fff;margin-left:20px;font-weight:700;position:relative;top:-9px}
.hovernum{display:none;color:red;margin-left:10px;font-weight:700}
.noactive{padding:10px}
.header{padding:15px 0 0;background:#fff;border-bottom:1px solid #f0f0f0;_border-bottom:none;position:relative;z-index:11}
.header .wrap1200{position:relative}
.logo{display:inline-block;background:url(../img/tg/logo-older.png) no-repeat;width:120px!important;height:61px;text-indent:-99999px;margin-right:20px}
.feature dl{float:left;display:inline-block}
.city{width:80px;margin:20px 10px 0 0;position:relative;text-align:center}
.city .choiceCity{display:inline-block;height:21px;width:80px;overflow:hidden;font-size:14px;text-decoration:underline;cursor:pointer;position:relative}
.city-con .jiao{width:80px;height:36px;position:absolute;top:-30px;border:1px solid #ff3938;border-bottom:1px solid #fff;left:0;z-index:11}
.city-icon{display:inline-block;width:14px;height:17px;background-position:-116px 0;vertical-align:middle;margin-right:2px}
.city-con{display:none;position:absolute;left:0;width:822px;background:#fff;z-index:10;font-size:14px;font-weight:700;padding-top:7px;*margin-top:20px}
.city-con ul{border:1px solid #ff3938;padding:20px 0 10px}
.city-con ul li h4{float:left;display:inline-block;padding-left:5px;width:84px;text-align:center;margin:2px 0;font-size:14px}
.city-con ul li.cur h4{padding-left:0;border-left:5px solid #ff3938}
.city-con ul li .s_ul{float:left;display:inline;width:731px}
.city-con ul li .s_ul a{float:left;display:inline-block;height:26px;line-height:26px;width:80px;text-align:center;background:#f0f0f0;margin:0 10px 10px 0}
.city-con ul li .s_ul a.ready{display:none}
.city-con ul li .s_ul a:hover{background:#ff3938;color:#fff;text-decoration:none}
.new-feature{margin:0 25px;_margin:0 10px}
.new-feature dl{width:25px;float:left;margin:0 20px}
.new-feature dl em{display:inline-block;width:24px;height:32px;background:url(../img/tg/icon_new.png) no-repeat}
.new-feature dl dt{font-size:12px;color:#909090;padding-top:4px}
.new-feature dl em.hosety{background-position:-140px -46px}
.new-feature dl em.low_price{background-position:-214px -46px}
.new-feature dl em.safe{background-position:-287px -48px}
.new-feature dl em.free{background-position:-359px -49px}
.search{margin-top:8px;width:488px}
#bdcs{position:relative}
#bdcs .bdcs-container .bdcs-search-form{width:480px}
#bdcs .bdcs-container .bdcs-search-form-input{float:left;display:inline;margin:0;border:2px solid #ff3938;width:378px;height:28px!important;line-height:28px!important;*height:26px!important;*line-height:26px!important;font-size:12px}
#bdcs .bdcs-container .bdcs-search-form-submit{float:left;display:inline;width:94px;height:32px;*margin-top:-2px;border:none;background:url(../img/tg/search.png) no-repeat center 9px #ff3938;text-indent:-99999px}
#bdcs-search-form-input-label{margin-top:-6px!important;height:28px!important;line-height:28px!important}
.hotlink{position:absolute;color:#B0B0B0;text-align:left;clear:both;left:384px;top:48px;font-size:12px;}
.hotlink a{color:#b0b0b0;margin-right:10px}
.nav{font-size:14px;font-weight:bolder;position:relative;z-index:10}
.nav-t{width:200px;height:40px;line-height:40px;_height:30px;_padding-top:10px;font-size:14px;text-align:center;background:#ff3938;color:#fff}
.nav-t em{display:inline-block;width:16px;height:14px;background:url(../img/tg/icon.png) no-repeat -143px 0;vertical-align:middle;_vertical-align:-3px;margin-right:3px}
.nav-link{background:#e4e4e4;width:1000px}
.nav-link1200{width:1200px}
.nav-link .cur{background:#261d18;color:#fff}
.nav-link-a{float:left;display:inline-block;position:relative;_width:120px}
.nav-link-a a{display:block;height:40px;line-height:40px;padding:0 38px;_padding:0;_text-align:center}
.nav-link-a a:hover{background:#261d18;color:#fff;text-decoration:none}
.nav-link-a-xuan{position:relative;display:inline-block}
.nav-link-a-xuan em{display:inline-block;width:18px;height:18px;background:url(../img/tg/icon.png) no-repeat -280px -210px;position:absolute;top:14px;left:67px;_left:80px;transition:200ms linear}
.nav-link-a-xuan .cur,.nav-link-a-xuan a.xuan:hover{background:#ff3938}
.nav-link-a-xuan .cur em{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);background:url(../img/tg/icon.png) no-repeat -280px -192px;top:10px}
.header_sub_nav{display:none;position:absolute;top:40px;left:0;width:232px;height:auto;z-index:10;background:#fff;border:1px solid #ff3938;padding:0 8px}
.header_sub_nav .sub_nav_left dd{float:left;display:inline-block}
.header_sub_nav .sub_nav_left dd a{background:#e6e6e6;color:#000;display:block;font-weight:400;width:50px;height:24px;line-height:24px;text-align:center;padding:0;margin:20px 4px}
.header_sub_nav .sub_nav_left dd a:hover{background:#ff3938;color:#fff}
.header_sub_nav .sub_nav_right{margin-top:6px}
.header_sub_nav .sub_nav_right dd{float:left;display:inline-block;width:31.33333%;margin-left:2%;*margin-left:1%}
.header_sub_nav .sub_nav_right dd a{display:block;padding:0;color:#7b7b7b;font-weight:400;font-size:12px;height:30px;line-height:30px}
.header_sub_nav .sub_nav_right dd a:hover{color:#ff3938;background:0 0}
.nav-new{font-size:12px;display:none;width:20px;text-align:center;height:20px;line-height:20px;color:#fff;border-radius:10px;margin-left:5px;position:absolute;top:10px;background:url(../img/tg/icon.png) no-repeat -72px -216px;text-indent:-99999px;margin-top:2px}
.loadImg{height:87px;margin-top:-10px;margin-right:49px}
.tc_footer_p{background:#fff;padding:36px 0;margin-top:20px;position:relative}
.tc_footer_p dd{width:16.58%;float:left;text-align:center}
.tc_footer_p dd h3{font-size:16px;margin:18px 0 2px}
.tc_footer_p dd p{color:#999}
.tc_footer_p .first_p{border-left:0}

.label-fen{margin-top:3px;}

/*======================ss-style.css=====================*/
/* CSS Document for tuanche.com byzss */

/*public reg*/
.error{/*border-color:#ff3938*/;color:#ff3938;}
.inC{width:260px;position:relative;font-size:12px;}
.maskin{width:85%;height:28px;position:absolute;top:1px;+top:2px;left:1px;line-height:28px;background:#fff;text-indent:9px;text-align:left;color:#261d18;}
.inC input{width:340px;height:24px;line-height:24px;border:solid 1px #d5d5d5;padding:2px 9px;font-size:12px;z-index:1;color:#333;box-shadow:0 0 5px rgba(213,213,213,.35);}
.sel{width:155px;}
.sel input{width:135px;}
.inC input.error{border-color:#ff3938;color:#ff3938;box-shadow:0 0 5px rgba(255,0,0,.3);}
.inC em{display:block;width:14px;height:10px;position:absolute;top:13px;right:10px;cursor:pointer;}
.inC .selClick{display:block;width:14px;height:10px;background:url(../img/common/ico1.png) no-repeat 0 -460px;position:absolute;top:13px;right:10px;cursor:pointer;}
.sel-more{width:99%;height:520px;line-height:24px;border:solid 1px #d5d5d5;padding:0;color:#a9a9a9;background:#fff;position:absolute;top:28px;left:0;overflow:hidden;z-index:6;}
.sel-more dt{width:20px;height:520px;float:left;display:block;border-right:solid 1px #dcdcdc;background:#f8f8f8;text-align:left;}
.sel-more dt a{display:block;text-align:center;line-height:20px;font-size:12px;color:#261d18;}
.sel-more dt a.act{color:#ff3938;}
.sel-more dt a:link,.sel-more dt a:visited,.sel-more dt a:active{color:#261d18;}
.sel-more dt a:hover,.sel-more dt a.act{color:#ff3938;}
.sel-more dd{float:right;width:132px;height:520px;font-size:14px;overflow-y:auto;overflow-x:hidden;text-align:left;}
.sel-more dd samp,.sel-more dd span{display:block;padding:0 10px;color:#261d18;}
.sel-more dd samp{background:#f8f8f8;border-bottom:solid 1px #e7e7e7;border-top:solid 1px #e7e7e7;line-height:22px;height:22px;}
.sel-more dd samp.act{color:#ff3938;}
.sel-more dd span{line-height:24px;height:24px;}
.sel-more dd a{display:block;padding:2px 0;line-height:20px;}
.sel-more dd a:link,.sel-more dd a:visited,.sel-more dd a:active{color:#261d18;}
.sel-more dd a:hover,.sel-more dd a.act{color:#ff3938;}


.sel-more-default{width:100%;_height:350px;+height:350px;max-height:350px;line-height:24px;border:solid 1px #261d18;padding:0;color:#a9a9a9;background:#fff;position:absolute;top:28px;left:0;overflow-x:hidden;overflow-y:auto;z-index:5;}
.sel-more-default li{text-align:left;}
.sel-more-default li span{padding-right:10px;}
.sel-more-default li a{display:block;height:24px;line-height:24px;padding:0px 9px;}
.sel-more-default li a:link,.sel-more-default li a:visited,.sel-more-default li a:active{background:#fff;color:#261d18;text-decoration:none;}
.sel-more-default li a:hover{background:#ff3938;color:#fff;text-decoration:none;}
.sel-more-default li.SelT{font-weight:bold;background:#ededed;text-indent:9px;color:#333;padding:3px 0;font-size:14px;}

.sel-more-default dt{color:#ff3938;display:block;width:100%;height:32px;text-indent:9px;font-size:14px;}
.sel-more-default dt a{display:block;text-align:left;height:32px;line-height:32px;color:#261d18;background:#eee;}
.sel-more-default dt a:link,.sel-more-default dt a:visited,.sel-more-default dt a:active{color:#ff3938;background:#eee;}
.sel-more-default dt a:hover{color:#ff3938;background:#eee;font-weight:bold;}
.sel-more-default dd{text-align:left;_height:350px;+height:350px;max-height:350px;}
.sel-more-default dd span{font-size:14px;display:block;border-bottom:solid 1px #eee;}
.sel-more-default dd span:hover{border-bottom:solid 1px #ddd;}
.sel-more-default dd a{display:block;height:32px;padding:0px 9px;}
.sel-more-default dd a:link,.sel-more-default li a:visited,.sel-more-default li a:active{background:#fff;color:#261d18;text-decoration:none;}
.sel-more-default dd a:hover{background:;color:#ff3938;text-decoration:none;}

.buyfs{width:100%;text-align:left;}
.buyfs span{color:#261d18;display:inline-block;font-size:12px;width:initial;height:20px;float:left;}
.buyfs i{color:#ff3938;font-size:12px;line-height:20px;}
.buyfssel{width:104%;text-align:left;/*margin-top:10px;*/overflow:hidden;margin-left:-9px;line-height:20px;}
.buyfssel a{display:inline-block;width:initial;padding:2px 9px;font-size:12px;color:#261d18;border:solid 1px #d4d4d4;margin-left:9px;line-height:20px;margin-top:6px;}
.buyfssel a:link,.buyfssel a:visited,.buyfssel a:active{color:#261d18;text-decoration:none;}
.buyfssel a.act,.buyfssel a.act:link,.buyfssel a.act:visited,.buyfssel a.act:active,.buyfssel a:hover{color:#ff3938;text-decoration:none;border:solid 1px #ff3938;box-shadow:0 0 2px rgba(255,0,0,.35);}


/*pop-btSigin*/
.p-btSigin{position:fixed;bottom:0;left:0;/*left:50%;margin-left:-465px;*/z-index:99;width:930px;height:153px;}
.p-btSiginAnimat{transform:rotate(-90deg) scale(0.1) translate(-2800px,-200px);opacity:0;-webkit-transition:all 800ms;transition:all 800ms;}

.p-btSiginC{position:relative;padding-top:70px;}
.p-btSiginBg{background:url(../img/common/p-btSiginBg.png) no-repeat 0 0;width:527px;height:133px;position:absolute;top:0;left:-10px;}
.p-btSigininfo{width:660px;height:55px;background:#ff3938;border-radius:100px;padding:15px 10px 10px 270px;}
.p-btregC{padding:8px 10px;background:;height:34px;}

.p-btregC input{background:#fff;width:140px;height:28px;line-height:28px;border:solid 1px #dcdcdc;border-radius:5px;}
.p-btregC .inC{float:left;width:170px;}
.p-btregC .inChide{width:140px;}
.p-btregC .inChide input{width:120px;}
.p-btregC .maskin{height:30px;line-height:30px;left:2px;top:2px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.p-btregC .inChide{margin-right:20px;}

.p-btregC .inChide .sel-more{top:-520px;}
.p-btregC .inChide .sel-more dd{width:117px;}
.p-btregC .inChide .sel-more-default{height:232px;top:-232px;border-color:#dcdcdc;width:99%;}
.p-btregC .inC input.error{border-color:#dcdcdc;}

.p-btregC .inChide .p-btselH{height:130px;top:-130px;}

.p-btSumbit{margin-left:20px;float:left;}
.p-btSumbit a{background:#fff;padding:4px 19px;color:#ff3938;font-weight:bold;border-radius:5px;display:inline-block;font-size:18px;border:solid #fff 1px;}
.p-btSumbit a:hover{background:#ff3938;border:solid #fff 1px;color:#fff;box-shadow:0 0 5px rgba(255,255,255,.85);}

.pickup{position:absolute;top:94px;right:10px;background:url(../img/common/p-icopickup.png) no-repeat 0 0;}
.pickup a{display:block;width:22px;height:30px;-webkit-transition:all 800ms;transition:all 800ms;}
.pickup a:hover{transform:rotate(0deg) scale(1.2) skew(0deg, 0deg) translate(0, 0);box-shadow:0 0 25px rgba(255,255,255,.0);}

.p-btSiginPick{position:fixed;bottom:10px;left:0;margin-left:10px;/*left:50%;margin-left:-662px;*/background:#ff3938 url(../img/common/p-icopickup.png) no-repeat 5px -88px;width:62px;height:62px;}
.p-btSiginPick a{display:block;width:100%;height:100%;}

.p-btSiginPickAnimat{-webkit-animation:alarm2 9ms 140 alternate;animation:alarm2 9ms 140 alternate;}

@-webkit-keyframes alarm2 {
	from {
	    -webkit-transform-origin:center center;
	    -webkit-transform:rotate(10deg);
	    margin-bottom:-10px;
	  }
	to {
	    -webkit-transform-origin: center center;
	    -webkit-transform:rotate(-10deg);
	     margin-bottom:40px;
	  }
}
@keyframes alarm2 {
	from {
	    -webkit-transform-origin:center center;
	    -webkit-transform:rotate(10deg);
	    margin-bottom:-10px;
	  }
	to {
	    -webkit-transform-origin: center center;
	    -webkit-transform:rotate(-10deg);
	     margin-bottom:40px;
	  }
}


/*pop-rogue*/
.pop-rogue{width:619px;height:379px;box-shadow:0 0 80px rgba(0,0,0,.45);position:fixed;background:#fff;z-index:99;top:8%;left:50%;margin-left:-310px;}
.p-girl{background:url(../img/common/p-girl.jpg) no-repeat 0 0;width:250px;height:379px;float:right;}

.p-rogueL{float:left;padding:30px 30px 30px 40px;width:290px;}
.p-rogueT{display:block;text-align:center;font-size:26px;font-weight:bold;color:#333;}
.p-rogueTinfo{width:290px;height:36px;background:url(../img/common/p-rogue.png) no-repeat 0 8px;}
.p-rogueL .inC{width:290px;margin-top:18px;}
.p-rogueL .inC em{background:url(../img/common/ico1.png) no-repeat 0 -460px;}
.p-rogueL .inC input{width:272px;height:32px;line-height:32px;}
.p-rogueL .maskin{height:36px;line-height:36px;}
.p-rogueL .error{color:#ff3938;}

.pop-rogue .btSumbit{margin:30px auto 0;text-align:center;}
.pop-rogue .btSumbit a{padding:9px 48px;font-weight:bold;border-radius:5px;display:inline-block;font-size:16px;background:#ff3938;color:#fff;}
.pop-rogue .btSumbit a:hover{color:#fff;background:#f52f2e;}

.pop-rogue .sel-more,.pop-rogue .sel-more-default{width:100%;top:37px;border-color:#dcdcdc;}
.pop-rogue .sel-more dd{width:266px;}

.pop-rogue .PClose{left:590px;top:5px;}
.pop-rogue .PClose a{display:block;width:22px;height:22px;background:url(../img/common/p-rogueIco.png) no-repeat 0 0;-webkit-transition:all 800ms;transition:all 800ms;border-radius:10px;box-shadow:none;}
.pop-rogue .PClose a,.pop-rogue .PClose a:link,.pop-rogue .PClose a:visited,.pop-rogue .PClose a:active{background-color:inherit;}
.pop-rogue .PClose a:hover{background-color:inherit;transform:rotate(450deg) scale(1.2) skew(0deg, 0deg) translate(0, 0);box-shadow:0 0 25px rgba(250,0,0,.75);}
