@charset "utf-8";
/* CSS Document for tuanche.com byzss */
html,body{margin:0;padding:0;font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3",serif,"Microsoft YaHei","SimHei","SimSong";}
body{background:#fff;}
body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,nav,section,button,samp,input{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;vertical-align:baseline;font-family:"Microsoft YaHei","SimHei","SimSong";}
ul,li,dl,dt,dd,p{margin:0;padding:0;text-indent:0;}
ul,li{list-style:none;}
input{background:none;border:none;}
table{border-collapse:0;border-spacing:0;jerry:expression(cellSpacing="0");}
button{border:0;cursor:pointer;margin:0;}
textarea{resize:none;}
em,i{font-style:normal;}
a img{border:none;}
:focus{outline:0;}
a{star:expression(this.onFocus=this.blur());cursor:pointer;}
a:link,a:visited,a:active{color:#261d18;text-decoration:none;}
a:hover{color:#ff3938;}
.clear{clear:both;height:0;overflow:hidden;}
.clearfix{zoom:1;}
.clearfix:after,.check:after,.sellbigPoint:after,.QA:after{clear:both;display:block;visibility:hidden;height:0;line-height:0;content:'';}
img{width:;height:;}

.fl{float:left;}
.fr{float:right;}
.releft{position:relative;float:left;}
.hide{display:none;}

.mask{width:100%;height:100%;z-index:90;position:fixed;top:0;left:0;*background:#000;background:#000\0;filter:alpha(opacity=50);background:rgba(0,0,0,.5);}

.imgBox img{-webkit-transition:all 500ms;transition:all 500ms;width:100%;}

.w{width:1200px;margin:0 auto;}
.w:after{clear:both;display:block;visibility:hidden;height:0;line-height:0;content:'';}

.pop{background:#fff;border-radius:10px;position:absolute;top:35%;left:50%;margin-left:-210px;z-index:91;}
.popC{position:relative;width:420px;height:auto;}
.pClose{position:absolute;top:-13px;right:3px;font-size:50px;color:#cbcbcb;}

.p-success{text-align:center;font-size:20px;color:#262626;padding:60px 0;}
.p-success dt{font-size:26px;color:#ff3938;line-height:30px;font-weight:bold;}
.p-success dd{margin-top:25px;}















.error{border-color:#ff3938;color:#ff3938;}
.inC{width:296px;position:relative;font-size:16px;margin-top:10px;}
.maskin{width:90%;height:40px;position:absolute;top:1px;+top:2px;left:1px;line-height:40px;background:#fff;text-indent:9px;text-align:left;color:#261d18;}
.inC input{width:276px;height:36px;line-height:36px;border:solid 1px #d5d5d5;padding:2px 9px;font-size:16px;z-index:1;color:#261d18;}
.inC input.error{border-color:#ff3938;color:#ff3938;}
.inC .selClick{display:block;width:14px;height:10px;background:url(../img/ico1.png) no-repeat 0 -540px;position:absolute;top:17px;right:10px;cursor:pointer;}
.sel-more{width:99.5%;height:520px;line-height:24px;border:solid 1px #d5d5d5;padding:0;color:#a9a9a9;background:#fff;position:absolute;top:41px;left:0;overflow:hidden;z-index:6;}
.sel-more dt{width:20px;height:520px;float:left;display:block;border-right:solid 1px #dcdcdc;background:#f8f8f8;text-align:left;}
.sel-more dt a{display:block;text-align:center;line-height:20px;font-size:12px;color:#261d18;}
.sel-more dt a.act{color:#ff3938;}
.sel-more dt a:link,.sel-more dt a:visited,.sel-more dt a:active{color:#261d18;}
.sel-more dt a:hover,.sel-more dt a.act{color:#ff3938;}
.sel-more dd{float:right;width:273px;height:520px;font-size:14px;overflow-y:auto;overflow-x:hidden;text-align:left;}
.sel-more dd samp,.sel-more dd span{display:block;padding:0 10px;color:#261d18;}
.sel-more dd samp{background:#f8f8f8;border-bottom:solid 1px #e7e7e7;border-top:solid 1px #e7e7e7;line-height:22px;height:22px;}
.sel-more dd samp.act{color:#ff3938;}
.sel-more dd span{line-height:30px;height:31px;border-bottom:solid 1px #eee;}
.sel-more dd span:hover{border-bottom:solid 1px #ddd;}
.sel-more dd a{display:block;padding:2px 0;line-height:32px;}
.sel-more dd a:link,.sel-more dd a:visited,.sel-more dd a:active{color:#261d18;}
.sel-more dd a:hover,.sel-more dd a.act{color:#ff3938;}

.sel-more-default{width:99.5%;line-height:32px;border:solid 1px #d5d5d5;padding:0;color:#a9a9a9;background:#fff;position:absolute;top:41px;left:0;overflow-x:hidden;overflow-y:auto;z-index:5;}
.sel-more-default dt{color:#ff3938;display:block;width:100%;height:32px;text-indent:9px;font-size:14px;}
.sel-more-default dt a{display:block;text-align:left;height:32px;line-height:32px;color:#261d18;background:#eee;}
.sel-more-default dt a:link,.sel-more-default dt a:visited,.sel-more-default dt a:active{color:#ff3938;background:#eee;}
.sel-more-default dt a:hover{color:#ff3938;background:#eee;font-weight:bold;}
.sel-more-default dd{text-align:left;_height:350px;+height:350px;max-height:350px;}
.sel-more-default dd span{font-size:14px;display:block;border-bottom:solid 1px #eee;}
.sel-more-default dd span:hover{border-bottom:solid 1px #ddd;}
.sel-more-default dd a{display:block;height:32px;padding:0px 9px;}
.sel-more-default dd a:link,.sel-more-default li a:visited,.sel-more-default li a:active{background:#fff;color:#261d18;text-decoration:none;}
.sel-more-default dd a:hover{background:;color:#ff3938;text-decoration:none;}

/*pop-bar*/
.pop-bar{}
.P-Rbar{width:60px;height:390px;margin-left:610px;position:fixed;/*top:530px;*/top:120px;left:50%;z-index:99;}
.P-Rbar li.a,.P-Rbar li.b,.P-Rbar li.c,.P-Rbar li.d,.P-Rbar li.e,.P-Rbar li.gotop{width:60px;height:20px;line-height:18px;padding-top:40px;margin-bottom:10px;background:#ff3938 url(../img/Rbar.png) no-repeat;color:#fff;font-size:12px;text-align:center;position:relative;}
.P-Rbar li:hover{background-color:#ea0605;}
.P-Rbar li.a{background-position:center 7px;position:relative;}
.P-Rbar li.b{background-position:center -96px;}
.P-Rbar li.c{background-position:center -189px;}
.P-Rbar li.d{background-position:center -276px;}
.P-Rbar li.e{background-position:center -385px;}
.P-Rbar li.gotop{background-position:center -488px;width:60px;height:60px;padding:0;margin:0;background-color:#e4e4e4;position:relative;}
.P-Rbar li.gotop a{display:block;width:100%;height:100%;}
.P-Rbar li.gotop:hover{background-color:#c2c2c2;}
.P-Rbar li a,.P-Rbar li a:link,.P-Rbar li a:visited,.P-Rbar li a:active{color:#fff;}
.P-Rbar li a:hover{color:#fff;text-decoration:none;}
.P-Rbar li .buyfssel a:link,.P-Rbar li .buyfssel a:visited,.P-Rbar li .buyfssel a:active{color:#261d18;text-decoration:none;}
.P-Rbar li .buyfssel a.act,.P-Rbar li .buyfssel a:hover{color:#ff3938;text-decoration:none;border:solid 1px #ff3938;}

.P-Rbar .P-enrollC .sel-more{width:234px;}
.P-Rbar .P-enrollC .sel-more a{padding:0;}
.P-Rbar .P-enrollC .sel-more dt a.act{color:#ff3938;}
.P-Rbar .P-enrollC .sel-more dt a:link,.P-Rbar .P-enrollC .sel-more dt a:visited,.P-Rbar .P-enrollC .sel-more dt a:active{color:#261d18;text-decoration:none;}
.P-Rbar .P-enrollC .sel-more dt a:hover,.P-Rbar .P-enrollC .sel-more dt a.act{color:#ff3938;text-decoration:none;}
.P-Rbar .P-enrollC .sel-more dd{width:213px;}
.P-Rbar .P-enrollC .sel-more dd a{line-height:24px;}
.P-Rbar .P-enrollC .sel-more dd a:link,.P-Rbar .P-enrollC .sel-more dd a:visited,.P-Rbar .P-enrollC .sel-more dd a:active{color:#261d18;text-decoration:none;}
.P-Rbar .P-enrollC .sel-more dd a:hover,.P-Rbar .P-enrollC .sel-more dd a.act{color:#ff3938;text-decoration:none;}

.P-Rbar .P-enrollC .sel-more dd span{line-height:24px;height:24px;border:none;}
.P-Rbar .P-enrollC .sel-more dd samp{line-height:22px;height:22px;}

.P-Rbar li .sel-more-default{width:91%;_height:350px;+height:350px;max-height:350px;line-height:24px;border:solid 1px #ccc;padding:0;color:#a9a9a9;background:#fff;position:absolute;top:29px;left:11px;overflow-x:hidden;overflow-y:auto;z-index:5;}
.P-Rbar li .sel-more-default li{text-align:left;}
.P-Rbar li .sel-more-default li span{padding-right:10px;}
.P-Rbar li .sel-more-default li a{display:block;height:24px;line-height:24px;padding:0px 9px;}
/*.P-Rbar li .sel-more-default li a:link,.P-Rbar li .sel-more-default li a:visited,.P-Rbar li .sel-more-default li a:active{background:#fff;color:#261d18;text-decoration:none;}
.P-Rbar li .sel-more-default li a:hover{background:#ff3938;color:#fff;text-decoration:none;}*/
.P-Rbar li .sel-more-default li.SelT{font-weight:bold;background:#ededed;text-indent:9px;color:#333;padding:0px 0;font-size:14px;}

/*.P-Rbar li .sel-more-default{width:91%;left:11px;border:solid 1px #ccc;top:29px;}*/
/*.P-Rbar li .sel-more-default li.SelT{padding:0px 0;}*/
.P-Rbar li .maskin{left:12px;width:82%;height:28px;line-height:28px;}
.P-Rbar li .sel-more-default li a,.P-Rbar li .sel-more-default li a:link,.P-Rbar li .sel-more-default li a:visited,.P-Rbar li .sel-more-default li a:active{background:#fff;color:#261d18;text-decoration:none;}
.P-Rbar li .sel-more-default li a:hover{background:#ff3938;color:#fff;text-decoration:none;}

.P-enroll{width:258px;height:;position:absolute;left:-260px;top:0;border:solid 1px #ff3938;background:#fff;}
.PClose{position:absolute;top:0px;left:-280px;}
.PClose a{display:block;width:20px;height:20px;background:url(../img/Rbar.png) no-repeat -1px -581px;background-color:#ff3938;}
.PClose a,.PClose a:link,.PClose a:visited,.PClose a:active{background-color:#ff3938;}
.PClose a:hover{background-color:#f11918;}

.P-enrollT{width:100%;height:35px;color:#ff3938;text-align:center;border-bottom:solid 2px #ff3938;font-size:14px;line-height:35px;font-weight:bold;}

.P-enrollC{width:258px;height:auto;margin:20px auto;}
.P-enrollC .inC{width:238px;margin-top:10px;position:relative;font-size:12px;padding:0 10px;}
.P-enrollC .inC input{width:216px;height:24px;line-height:24px;border:solid 1px #ccc;padding:2px 9px;font-size:12px;z-index:1;color:#666;}
.P-enrollC .inC input.error{color:#ff3938;border-color:#ff3938;}
.P-enrollC .inC .selClick{display:block;width:14px;height:10px;background-position:0 -540px;position:absolute;top:10px;right:20px;cursor:pointer;}
.P-enrollC .sel-more{width:319px;/*height:160px;*/line-height:24px;border:solid 1px #ccc;padding:0;color:#666;border-top:none;background:#fff;position:absolute;top:30px;left:11px;overflow:auto;}

.P-enrollC button{width:236px;height:30px;line-height:30px;margin-top:20px;font-size:14px;background:#ff3938;color:#fff;}

.P-APP{width:132px;height:158px;border:solid 1px #ff3938;position:absolute;left:-134px;top:0;background:#fff url(../img/P-APP.png) no-repeat center 0;}
.P-APP span{margin-top:130px;font-size:14px;display:inline-block;color:#ff3938;}

.buyfs{width:100%;text-align:left;}
.buyfs span{color:#261d18;display:inline-block;font-size:12px;width:initial;height:20px;float:left;}
.buyfs i{color:#ff3938;font-size:12px;line-height:20px;}
.buyfssel{width:104%;text-align:left;overflow:hidden;margin-left:-9px;line-height:20px;}
.buyfssel a{display:inline-block;width:initial;padding:2px 9px;font-size:12px;color:#261d18;border:solid 1px #d4d4d4;margin-left:9px;line-height:20px;margin-top:10px;}
.buyfssel a:link,.buyfssel a:visited,.buyfssel a:active{color:#261d18;text-decoration:none;}
.buyfssel a.act,.buyfssel a.act:link,.buyfssel a.act:visited,.buyfssel a.act:active,.buyfssel a:hover{color:#ff3938;text-decoration:none;border:solid 1px #ff3938;}

.bannerC{width:1200px;height:439px;margin:0 auto;background:#f8f7f2;position:relative;}
.banner{}
.reginfo{position:absolute;top:37px;right:12px;width:296px;/*height:319px;*/padding:50px 16px 40px 19px;border:solid 1px #e4e1d3;box-shadow:0px 3px 4px rgba(172,164,123,.35);background:#fefefe;}
.PMT60{top:67px;}
.PMT60 .inChide{display:none;}

.reginfo h4{font-size:24px;color:#685d5d;text-align:center;}
.reginfo h4 i{color:#fd521d;font-size:30px;}

.RegC{padding-top:20px;}

.check{width:100%;margin-top:10px;line-height:20px;}
.check em{display:inline-block;width:20px;height:20px;float:left;background:url(../img/rrer/ico.png) no-repeat 0 1px;}
.check em.checked{background-position:0 -48px;}
.check span{float:left;font-size:16px;color:#3b3b3b;margin-left:10px;}

.RegC button{width:100%;height:49px;background:#ff3938;color:#fff;font-size:24px;margin-top:30px;}

.bro{background:#c3a97e url(../img/rrer/bg-bro.jpg) no-repeat center 0;height:68px;background-size:contain;}
.bgimg01{background:#fff url(../img/rrer/img01.jpg) no-repeat center 0;height:481px;background-size:contain;}
.bgimg02{background:#fff url(../img/rrer/img02.jpg) no-repeat center 0;height:401px;background-size:contain;}
.bgimg03{background:#fbfbfb url(../img/rrer/img03.jpg) no-repeat center 0;height:145px;background-size:contain;}
.bgimg04{background:#f9f9f9 url(../img/rrer/img04.jpg) no-repeat center 50px;height:40px;padding:50px 0;background-size:contain;}

.QA{background:#f9f9f9;/*height:492px;*/padding:0 55px;width:1090px;+padding-bottom:70px;}
.QA dl{width:50%;margin-bottom:70px;}
.QA dt{font-size:18px;color:#333;font-weight:bold;display:block;line-height:30px;padding-left:20px;}
.QA dt i{color:#999;}
.QA dt span{padding-left:15px;}
.QA dd{padding-left:60px;font-size:15px;color:#999;line-height:24px;margin-top:6px;padding-right:30px;}
.QA dd samp{width:35%;display:inline-block;font-size:15px;float:left;}
.QA dd span{width:65%;display:inline-block;font-size:15px;float:left;}

/*sellbigPoint*/
.sellbigPoint{padding:42px 0 30px 42px;}
.sellbigPoint li{width:150px;height:;margin-right:40px;float:left;text-align:center;}
.sellbigPointxxx li em{display:block;width:60px;height:60px;background:url(../img/rrer/ico-pointbig.png) no-repeat;margin:0 auto 14px;}
.sellbigPoint li.ico-point01 em{background-position:0 0;}
.sellbigPoint li.ico-point02 em{background-position:0 -88px;}
.sellbigPoint li.ico-point03 em{background-position:0 -176px;}
.sellbigPoint li.ico-point04 em{background-position:0 -264px;}
.sellbigPoint li.ico-point05 em{background-position:0 -352px;}
.sellbigPoint li.ico-point06 em{background-position:0 -440px;}
.sellbigPoint p{font-size:16px;font-weight:bold;margin:2px 0;}
.sellbigPoint span{font-size:12px;}

/*FrendLink*/
.FrendLink{width:100%;background:#f8f8f8;padding:20px 0;font-size:12px;line-height:26px;color:#848383;}
.FrendLink span{padding-right:3px;display:inline-block;}
.FrendLink a,.FrendLink a:link,.FrendLink a:active,.FrendLink a:visited{color:#848383;}
.FrendLink a:hover{color:#ff3938;text-decoration:underline;}

/*foot*/
.foot{background:#261d18;padding:30px 0;color:#fff;font-size:12px;position:relative;}
.copyright{width:100%;font-size:12px;color:#fff;text-align:center;line-height:20px;float:left;margin-top:5px;}
.copyright a{color:#fff}
.copyright a:hover{color:#ff3938}

.interior_link{text-align:center}
.interior_link a{color:#fff}
.interior_link a:hover{color:#ff3938}

.foot .icon{position:absolute;top:0;left:50%;_left:0;margin-left:-16px;display:inline-block;width:32px;height:15px;background-position:-183px 0}
/*older head*/
.mc{margin:0 auto}
.mart10{margin-top:10px}
.mart20{margin-top:20px}
.bolder{font-weight:700}
.f12{font-size:12px}
.f14{font-size:14px}
.f16{font-size:16px}
.f18{font-size:18px}
.f20{font-size:20px}
.f30{font-size:30px}
.f35{font-size:35px}
.f50{font-size:50px}
.red{color:red}
.gray{color:#abaaaa}
.wrap1200{width:1200px}
.icon{background:url(../img/tg/icon.png) no-repeat}
.mainbody{width:1200px}
.mainleft{float:left;display:inline;width:886px}
.mainright{float:right;display:inline;width:295px}
.header-top{height:35px;line-height:35px;background:#ff3938;position:relative;z-index:12;font-size: 12px;}
.login-link,.login-link a,.logined,.logined a{display:inline-block;color:#fff;font-weight:700}
.login-link a{padding-top:1px}
.login-link a.cur{padding-top:0;border-top:1px solid #fff;text-decoration:none}
.header-top-tip{padding:0 20px;background:#e53333;color:#fff;font-weight:700}
.tapicon ul li.tapiconli{position:relative;float:left;display:inline-block;width:18px;height:25px;background:url(../img/tg/icon_new.png);margin-left:20px;margin-right:10px;cursor:pointer;text-align:center;margin-top:9px}
.header-top-tel{width:164px;height:35px;background:url(../img/tg/tell.png) no-repeat;text-indent:-99999px}
.tap-jiao{width:8px;height:4px;position:absolute;top:-4px;background:url(../img/tg/icon.png) -281px 0;left:50%;margin-left:-4px}
.tapicon-pop{display:none;background:#fff;position:absolute;top:25px;left:83%;border:1px solid #ff3938;z-index:12}
.tapicon ul li.tapicon-person{background-position:0 -1px}
.tapicon-person-pop{margin-left:-79px}
.tapicon-person-pop ul li{margin-left:0;background:0 0;width:142px;border-bottom:1px solid #ececec}
.tapicon-person-pop ul li a{display:block;padding:0 10px}
.tapicon-person-pop ul li a:hover{background:#f4f4f4;text-decoration:none}
.tapicon ul li.tapicon-mail{background-position:-54px -1px}
.tapicon-mail-pop{width:250px;margin-left:-131px}
.tapicon-mail-pop ul li{border-bottom:1px solid #ececec}
.tapicon-mail-pop ul li a{display:block}
.tapicon-mail-pop-img{width:100px}
.tapicon-mail-pop-img img{width:90%;height:70px;padding:5%}
.tapicon-mail-pop-info{width:150px;padding:10px 0}
.tapicon-mail-pop-info p{margin:0;line-height:20px}
.tapicon-mail-pop-btn{display:block;background:#ff3938;margin:10px;text-align:center;color:#fff}
.tapicon-mail-pop-btn:hover{color:#fff}
.tapicon ul li.tapicon-qi{background-position:-107px -1px}
.tapicon ul li.tapicon-xin{background-position:-163px -1px}
.tapicon-xin-pop{width:122px;height:30px;padding:135px 0 0 144px;background:url(../img/tg/headerwei.png) no-repeat 0 0 #fff;margin-left:-139px}
.yiyi-tit{height:30px;line-height:30px;text-align:center;background:#f4f4f4;border-bottom:1px solid #ececec}
.yiyi-tit-con{text-align:center;padding-top:10px}
.tapicon ul li.tapicon-baozhang{margin-right:30px;background-position:-217px -1px}
.tapicon-baozhang-pop{width:120px;height:160px;margin-left:-68px;background:#fff}
.activehovernum{color:#fff;margin-left:20px;font-weight:700;position:relative;top:-9px}
.hovernum{display:none;color:red;margin-left:10px;font-weight:700}
.noactive{padding:10px}
.header{padding:15px 0 0;background:#fff;border-bottom:1px solid #f0f0f0;_border-bottom:none;position:relative;z-index:11}
.header .wrap1200{position:relative}
.logo_old{display:inline-block;background:url(../img/tg/logo-older.png) no-repeat;width:120px!important;height:61px;text-indent:-99999px;margin-right:20px}
.feature dl{float:left;display:inline-block}
.city{width:80px;margin:20px 10px 0 0;position:relative;text-align:center}
.city .choiceCity{display:inline-block;height:21px;width:80px;overflow:hidden;font-size:14px;text-decoration:underline;cursor:pointer;position:relative}
.city-con .jiao{width:80px;height:36px;position:absolute;top:-30px;border:1px solid #ff3938;border-bottom:1px solid #fff;left:0;z-index:11}
.city-icon{display:inline-block;width:14px;height:17px;background-position:-116px 0;vertical-align:middle;margin-right:2px}
.city-con{display:none;position:absolute;left:0;width:822px;background:#fff;z-index:10;font-size:14px;font-weight:700;padding-top:7px;*margin-top:20px}
.city-con ul{border:1px solid #ff3938;padding:20px 0 10px}
.city-con ul li h4{float:left;display:inline-block;padding-left:5px;width:84px;text-align:center;margin:2px 0;font-size:14px}
.city-con ul li.cur h4{padding-left:0;border-left:5px solid #ff3938}
.city-con ul li .s_ul{float:left;display:inline;width:731px}
.city-con ul li .s_ul a{float:left;display:inline-block;height:26px;line-height:26px;width:80px;text-align:center;background:#f0f0f0;margin:0 10px 10px 0}
.city-con ul li .s_ul a.ready{display:none}
.city-con ul li .s_ul a:hover{background:#ff3938;color:#fff;text-decoration:none}
.new-feature{margin:0 25px;_margin:0 10px}
.new-feature dl{width:25px;float:left;margin:0 20px}
.new-feature dl em{display:inline-block;width:24px;height:32px;background:url(../img/tg/icon_new.png) no-repeat}
.new-feature dl dt{font-size:12px;color:#909090;padding-top:4px}
.new-feature dl em.hosety{background-position:-140px -46px}
.new-feature dl em.low_price{background-position:-214px -46px}
.new-feature dl em.safe{background-position:-287px -48px}
.new-feature dl em.free{background-position:-359px -49px}
.search{margin-top:8px;width:488px}
#bdcs{position:relative}
#bdcs .bdcs-container .bdcs-search-form{width:480px}
#bdcs .bdcs-container .bdcs-search-form-input{float:left;display:inline;margin:0;border:2px solid #ff3938;width:378px;height:28px!important;line-height:28px!important;*height:26px!important;*line-height:26px!important;font-size:12px}
#bdcs .bdcs-container .bdcs-search-form-submit{float:left;display:inline;width:94px;height:32px;*margin-top:-2px;border:none;background:url(../img/tg/search.png) no-repeat center 9px #ff3938;text-indent:-99999px}
#bdcs-search-form-input-label{margin-top:-6px!important;height:28px!important;line-height:28px!important}
.hotlink{position:absolute;color:#B0B0B0;text-align:left;clear:both;left:384px;top:48px;font-size:12px;}
.hotlink a{color:#b0b0b0;margin-right:10px}
.nav{font-size:14px;font-weight:bolder;position:relative;z-index:10}
.nav-t{width:200px;height:40px;line-height:40px;_height:30px;_padding-top:10px;font-size:14px;text-align:center;background:#ff3938;color:#fff}
.nav-t em{display:inline-block;width:16px;height:14px;background:url(../img/tg/icon.png) no-repeat -143px 0;vertical-align:middle;_vertical-align:-3px;margin-right:3px}
.nav-link{background:#e4e4e4;width:1000px}
.nav-link1200{width:1200px}
.nav-link .cur{background:#261d18;color:#fff}
.nav-link-a{float:left;display:inline-block;position:relative;_width:120px}
.nav-link-a a{display:block;height:40px;line-height:40px;padding:0 38px;_padding:0;_text-align:center}
.nav-link-a a:hover{background:#261d18;color:#fff;text-decoration:none}
.nav-link-a-xuan{position:relative;display:inline-block}
.nav-link-a-xuan em{display:inline-block;width:18px;height:18px;background:url(../img/tg/icon.png) no-repeat -280px -210px;position:absolute;top:14px;left:67px;_left:80px;transition:200ms linear}
.nav-link-a-xuan .cur,.nav-link-a-xuan a.xuan:hover{background:#ff3938}
.nav-link-a-xuan .cur em{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);background:url(../img/tg/icon.png) no-repeat -280px -192px;top:10px}
.header_sub_nav{display:none;position:absolute;top:40px;left:0;width:232px;height:auto;z-index:10;background:#fff;border:1px solid #ff3938;padding:0 8px}
.header_sub_nav .sub_nav_left dd{float:left;display:inline-block}
.header_sub_nav .sub_nav_left dd a{background:#e6e6e6;color:#000;display:block;font-weight:400;width:50px;height:24px;line-height:24px;text-align:center;padding:0;margin:20px 4px}
.header_sub_nav .sub_nav_left dd a:hover{background:#ff3938;color:#fff}
.header_sub_nav .sub_nav_right{margin-top:6px}
.header_sub_nav .sub_nav_right dd{float:left;display:inline-block;width:31.33333%;margin-left:2%;*margin-left:1%}
.header_sub_nav .sub_nav_right dd a{display:block;padding:0;color:#7b7b7b;font-weight:400;font-size:12px;height:30px;line-height:30px}
.header_sub_nav .sub_nav_right dd a:hover{color:#ff3938;background:0 0}
.nav-new{font-size:12px;display:none;width:20px;text-align:center;height:20px;line-height:20px;color:#fff;border-radius:10px;margin-left:5px;position:absolute;top:10px;background:url(../img/tg/icon.png) no-repeat -72px -216px;text-indent:-99999px;margin-top:2px}
.loadImg{height:87px;margin-top:-10px;margin-right:49px}
.tc_footer_p{background:#fff;padding:36px 0;margin-top:20px;position:relative}
.tc_footer_p dd{width:16.58%;float:left;text-align:center}
.tc_footer_p dd h3{font-size:16px;margin:18px 0 2px}
.tc_footer_p dd p{color:#999}
.tc_footer_p .first_p{border-left:0}

.label-fen{margin-top:3px;}
/*æ–°èƒ½æºé£˜çª—*/
.Pad{position:fixed;bottom:0;left:50%;margin-left:312px;z-index:100;}
.PadC{position:relative;}
.Pad-close{display:block;position:absolute;top:25px;right:6px;width:15px;height:15px;background:url(../img/Pad-close.png) no-repeat 0 0;cursor:pointer;}
